.clientsLoader {
  height: 295px;
  margin: 0 0 -25px -20px;
}

.li-Loader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.3rem;
  justify-content: space-evenly;
  margin: 0;
  list-style: none;
  background-image: none;
  background-repeat: none;
  background-position: 0;
}

.li-Loader:nth-child(even) {
  background: #efefef;
}

.li-Loader p {
  width: 30%;
  background: #949494;
  height: 1.7rem;
}
