.getdata {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getdata h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

.clients-list {
  padding: 0;
  margin-top: 20px;
  width: 80%;
  height: 310px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; /* showing scrollbars */
}

.client {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.client:nth-child(even) {
  background: #efefef;
}

.client-selected,
.client-selected:nth-child(even) {
  background: crimson;
  color: #efefef;
}

.client h3 {
  margin-left: 30px;
  font-size: 22px;
  font-weight: 400;
}

.client h3 span {
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
}

.client .name {
  text-transform: capitalize;
  width: 50%;
  margin-left: 10%;
}
.client .lastName {
  text-transform: uppercase;
  width: 50%;
  margin-left: 0%;
}

.render-address {
  margin: 40px 0;
  width: 80%;
  height: 60px;
}

.address-selected > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.address-selected > div > p {
  font-size: 18px;
  font-weight: 300;
}

.address-selected > div span {
  margin-right: 15px;
  font-size: 20px;
  font-weight: 500;
}

.log-out {
  margin-top: 30px;
  background: crimson;
  padding: 15px 20px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
}
