form {
  margin: auto;
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  border-radius: 10px;
  padding: 10px 15px 30px 15px;
  background: #f9f7f7;
  -webkit-box-shadow: 5px 22px 42px -28px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 5px 22px 42px -28px rgba(0, 0, 0, 0.44);
  box-shadow: 5px 22px 42px -28px rgba(0, 0, 0, 0.44);
}

form > h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1em;
}
.input-element {
  border-radius: 5px;
  box-sizing: border-box;
  width: 300px;
  background: white;
  color: #a2a1a3;
  font: inherit;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 15px 10px;
  border: 1.3px solid #cac9cc;
  margin: 10px 5px;
}

.button-form {
  margin-top: 30px;
  background: crimson;
  padding: 10px 30px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
}
